<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ title | default: "dalbaeyi" }}</title>

<meta name="title" content="Dalbaeyi">
<meta name="description" content="A personal Neocities site.">

<meta name="robots" content="noai">
<meta name="robots" content="noimageai">

<!-- JS -->
<script src="/js/jquery-3.7.0.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>

<!-- CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/jquery-ui.min.css">
<link rel="stylesheet" href="/css/dalbaeyi.css?v=1.1">

<!-- FontAwesome -->
<link rel="stylesheet" href="/css/all.min.css">