<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title | default: "dalbaeyi" }}</title>

    <meta name="title" content="title">
    <meta name="description" content="...">

    <meta name="robots" content="noai">
    <meta name="robots" content="noimageai">

    <!-- JS -->
    <script src="/js/bootstrap.bundle.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    {{ content }}
</body>
</html>