<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title | default: "dalbaeyi" }}</title>

    <meta name="title" content="title">
    <meta name="description" content="...">

    <meta name="robots" content="noai">
    <meta name="robots" content="noimageai">

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/dalbaeyi.css?v=1.1">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="/css/all.min.css">
</head>
<body>
    <div class="container-fluid" id="app">
        <!-- Header Nav -->
        {% include 'topnav.html' %}

        <div class="row g-0" id="appRow">
            <div class="col-md-9 pe-md-3">
                <!-- Main Content -->
                <div id="mainBox">
                    <div class="toolbar">
                        <div class="toolbar-tabrow">
                            <div class="toolbar-tab">
                                <i class="fa-solid fa-raindrops me-1"></i> {{ title | default: "dalbaeyi" }}
                            </div>

                            <div class="toolbar-tabrow-icons">
                                <i class="fa-solid fa-window-minimize"></i>
                                <i class="fa-solid fa-window-restore"></i>
                                <i class="fa-solid fa-xmark"></i>
                            </div>
                        </div>

                        <div class="row g-0 toolbar-search">
                            <div class="col-md-1 d-flex justify-content-between align-items-center pe-3 mobile-hidden">
                                <i class="fa-regular fa-angle-left"></i>
                                <i class="fa-regular fa-angle-right"></i>
                                <i class="fa-solid fa-rotate-right"></i>
                            </div>

                            <div class="col-md-10">
                                <div class="toolbar-search-bar">
                                    <i class="fa-solid fa-fish-bones"></i>
                                    <span>https://dalbaeyi.neocities.org</span>
                                </div>
                            </div>

                            <div class="col-md-1 d-flex justify-content-between align-items-center ps-3 mobile-hidden">
                                <i class="fa-solid fa-user"></i>
                                <i class="fa-solid fa-arrow-down-to-line"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>

                        <div class="toolbar-linkbar">
                            {% include 'linkbar.html' %}
                        </div>
                    </div>

                    <div id="mainBoxContainer">
                        <main>
                            <div id="mainBoxWrapper">
                                {{ content }}
                            </div>
                        </main>
                    </div>
                </div>
            </div>

            <div class="col-md-3 ps-md-3 py-3 sidebar mobile-hidden" id="sidebar">
                <!-- Sidebar -->
                {% include 'sidebar.html' %}
            </div>
        </div>

        <!-- Offcanvas for mobile sidebar -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="mobileSidebar" aria-labelledby="mobileSidebarLabel">
            <div class="offcanvas-header justify-content-end">
                <button type="button" data-bs-dismiss="offcanvas" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
            </div>

            <div class="offcanvas-body">
                {% include 'sidebar.html' %}
            </div>
        </div>
    </div>

    <script>
    </script>
</body>
</html>