<div class="sidebar-box">
    <div class="toolbar">
        <div class="toolbar-tabrow">
            <div class="toolbar-tab">
                <i class="fa-solid fa-umbrella me-1"></i> webmaster
            </div>
        </div>

        <div class="toolbar-search">
            <div class="toolbar-search-bar">
                /data/webmaster.html
            </div>
        </div>
    </div>

    <div class="sidebar-box-container">
        <div class="sidebar-box-inner">
            <div class="sidebar-box-header"></div>
            <div class="sidebar-box-icon">
                <img src="/img/sitelogo-light.png">
            </div>

            <div class="p-3 pt-0">
                some text will go here once i think of what to write.

                {% include 'todolist.html' %}
            </div>
        </div>
    </div>
</div>

<div class="sidebar-box">
    <div class="toolbar">
        <div class="toolbar-tabrow">
            <div class="toolbar-tab">
                <i class="fa-solid fa-cloud-drizzle me-1"></i> ...
            </div>
        </div>

        <div class="toolbar-search">
            <div class="toolbar-search-bar">
                ...
            </div>
        </div>
    </div>

    <div class="sidebar-box-container">
        <div class="sidebar-box-inner p-3">
            in the meantime you can check out my friend eiv...
            <a href="https://elfendr.com">
                <img src="https://elfendr.com/elfendrbutton.gif">
            </a>
        </div>
    </div>
</div>