<div class="sidebar-box" id="sidebarOne">
    <div class="toolbar">
        <div class="toolbar-tabrow">
            <div class="toolbar-tab">
                <i class="fa-solid fa-umbrella me-1"></i> webmaster
            </div>
        </div>

        <div class="toolbar-search">
            <div class="toolbar-search-bar">
                /data/webmaster.html
            </div>
        </div>
    </div>

    <div class="sidebar-box-container">
        <div class="sidebar-box-inner">
            <div class="sidebar-box-header"></div>
            <div class="sidebar-box-icon">
                <img src="/img/sitelogo-light.png">
            </div>

            <div class="p-3 pt-0">
                <div class="row g-0">
                    <div class="col-6 p-1">
                        <div class="box-light">
                            <div id="sidebarClock"></div>
                        </div>
                    </div>

                    <div class="col-6 p-1">
                        <div class="box-light">
                            stuff
                        </div>
                    </div>
                </div>

                {% include 'todolist.html' %}
            </div>
        </div>
    </div>
</div>

<div class="sidebar-box" id="sidebarTwo">
    <div class="toolbar">
        <div class="toolbar-tabrow">
            <div class="toolbar-tab">
                <i class="fa-solid fa-cloud-drizzle me-1"></i> ...
            </div>
        </div>

        <div class="toolbar-search">
            <div class="toolbar-search-bar">
                ...
            </div>
        </div>
    </div>

    <div class="sidebar-box-container">
        <div class="sidebar-box-inner p-3">
            in the meantime you can check out my friend eiv...
            <a href="https://elfendr.com">
                <img src="https://elfendr.com/elfendrbutton.gif">
            </a>
        </div>
    </div>
</div>