<div class="sidebar-box">
    <div class="toolbar">
        <div class="toolbar-tabrow">
            <div class="toolbar-tab">
                <i class="fa-solid fa-umbrella me-1"></i> webmaster
            </div>
        </div>

        <div class="toolbar-search">
            <div class="toolbar-search-bar">
                ...
            </div>
        </div>
    </div>

    <div class="sidebar-box-container">
        <div class="sidebar-box-inner">
            <div class="sidebar-box-header"></div>
            <div class="sidebar-box-icon">
                <img src="https://placehold.co/150x150?text=icon">
            </div>

            <div class="p-3">
                a little bit of info about the webmaster will go here.<br>along with the 3 most recent posts.
            </div>
        </div>
    </div>
</div>

<div class="sidebar-box">
    <div class="toolbar">
        <div class="toolbar-tabrow">
            <div class="toolbar-tab">
                <i class="fa-solid fa-cloud-drizzle me-1"></i> ...
            </div>
        </div>

        <div class="toolbar-search">
            <div class="toolbar-search-bar">
                ...
            </div>
        </div>
    </div>

    <div class="sidebar-box-container">
        <div class="sidebar-box-inner">
            Hello.
        </div>
    </div>
</div>