<nav class="navbar navbar-expand-lg" id="headerNav">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topnavContent" aria-controls="topnavContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-chevrons-down"></i>
        </button>

        <a class="navbar-brand" href="/">
            <i class="fa-duotone fa-fish-bones"></i>
            Dalbaeyi
        </a>

        <a class="btn navbar-toggler" data-bs-toggle="offcanvas" href="#mobileSidebar" role="button" aria-controls="mobileSidebar">
            <i class="fa-solid fa-chevrons-left"></i>
        </a>
    </div>

    <div class="collapse navbar-collapse" id="topnavContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    Resources
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/resources/frontend">Frontend</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    Dropdown 2
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">One</a></li>
                    <li><a class="dropdown-item" href="#">Two</a></li>
                    <li><a class="dropdown-item" href="#">Three</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>