<div class="box-light box-shaded mt-2">
    <div class="box-fipps-header"><i class="fa-solid fa-pen-nib"></i> Updates</div>

    <div class="box-scroll-300 py-2 pe-1">
        <ul class="list-diamond diamond-top dividers text-spacing-less">
            <li><span><b class="text-primary-100">[231113]</b> it's been a while! updated about page and frontend resources a bit.</span></li>

            <li><span><b class="text-primary-100">[230820]</b> added link back button.</span></li>

            <li><span><b class="text-primary-100">[230814]</b> about page done...! i think! i don't really talk about myself much so i wasn't sure what to write haha...</span></li>

            <li><span><b class="text-primary-100">[230811]</b> started working on front page and about page...</span></li>

            <li><span><b class="text-primary-100">[230810]</b> layout mostly finished...? mobile responsive now. frontend resources page also made.</span></li>

            <li><span><b class="text-primary-100">[230805]</b> started proper work on site, setting up barebones pages. created site favicon and button.</span></li>

            <li><span><b class="text-primary-100">[230731]</b> created git repository for this website.</span></li>
        </ul>
    </div>
</div>