@import '_patterns';
@import '_fonts';

//** Variables **//
$main-bg: url('https://cdn.discordapp.com/attachments/803461925513723964/1136503357511581747/ripple.jpg');
$bg: #e6e6f1;

$app-padding: 5vw;
$border-radius: 0.5rem;

$light: #e3e6eb;
$dark: #2d2d35;

$primary-100: #477fbe;
$primary-200: #465470;
$primary-300: #2b3146;

$success: #77b877;
$danger: #cc6966;
$warning: #e2b77c;

//** Mixins **//

@mixin flex($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin boxStyling() {
    background-color: rgba($bg, 0.65);
    background-image: $bg-pattern;
    border-radius: $border-radius;
    box-shadow: rgba($primary-300, 0.25) 0px 54px 55px, rgba($primary-300, 0.12) 0px -12px 30px, rgba($primary-300, 0.12) 0px 4px 6px, rgba($primary-300, 0.17) 0px 12px 13px, rgba($primary-300, 0.09) 0px -3px 5px, rgba($primary-300, 0.2) 0px -3px 0px inset;
}

/* Text Styles */

a {
    color: $primary-100;
    text-decoration: none;

    &:hover {
        color: $primary-200;
    }
}

//** Layout **//

/* width */
::-webkit-scrollbar {
    width: 3px;
}

  /* Track */
::-webkit-scrollbar-track {
    background: $primary-100;
    border-radius: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: $primary-200;
    border-radius: 1rem;
}

body {
    background: transparent $main-bg no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}

#app {
    color: $dark;
    font-family: $sharetechmono;
    height: 100vh;
    overflow: hidden;
    padding-left: $app-padding;
    padding-right: $app-padding;

    @media (max-width: 991px) {
        height: unset;
        overflow: visible;
        padding-left: 2.5vw;
        padding-right: 2.5vw;
    }
}

#headerNav {
    background-color: $primary-300;
    border-bottom: 1px solid $primary-200;
    border-radius: 0 0 $border-radius $border-radius;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;

    .navbar-brand {
        color: $light;
        font-family: $novasquare;
        text-transform: uppercase;
    }

    .nav-link {
        color: $primary-100;
        font-family: $agoblinappears;
        font-size: 0.55em;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .dropdown-toggle::after {
        font-size: 1rem;
    }

    .dropdown-menu {
        background-color: $primary-200;
        border-radius: 0 0 $border-radius $border-radius;
        border: 1px solid $primary-300;
        border-top: 0;
    }

    .dropdown-item {
        color: $light;

        &::before {
            //chevron right
            content: "\f054";
            font-family: $fa-solid;
            font-size: 0.75em;
            margin-right: 0.15rem;
            margin-left: -0.25rem;
            opacity: 0;
            transition: all 150ms linear;
        }

        &:hover {
            background-color: $primary-100;

            &::before {
                opacity: 1;
                margin-left: 0;
            }
        }
    }
}

#mainBox {
    height: 87.5vh;
    padding: 0;
    overflow-y: auto;

    @include boxStyling();

    display: flex;
    flex-direction: column;

    @media (max-width: 991px) {
        height: unset;
        overflow-y: visible;
    }

    &Container {
        padding: 0.5rem 0.5rem 0.65rem 0.5rem;

        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &Wrapper {
        max-height: 75vh;
        overflow: auto;
    }
}

.toolbar {
    width: 100%;

    &-tabrow {
        background-color: $primary-300;
        border-radius: $border-radius $border-radius 0 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.25rem 0.75rem 0 0.75rem;
        width: 100%;

        &-icons {
            display: flex;
            align-items: center;
            
            i {
                padding: 0 0.25rem;

                &:last-child {
                    padding-right: 0;
                }

                &.fa-window-minimize {
                    color: $warning;
                }

                &.fa-window-restore {
                    color: $success;
                }

                &.fa-xmark {
                    color: $danger;
                }
            }
        }
    }

    &-tab {
        background-color: $primary-200;
        border-radius: $border-radius $border-radius 0 0;
        color: $light;
        padding: 0.25rem 0.75rem;
        margin-bottom: -1px;
    }

    &-search, &-linkbar {
        background-color: $primary-200;
        border-bottom: 1px solid darken($primary-200, 5%);
        padding: 0.15rem 0.75rem;
    }

    &-search {
        border-top: 1px solid darken($primary-200, 5%);
        color: $light;

        &-bar {
            background-color: rgba($primary-300, 0.65);
            border-radius: $border-radius;
            font-family: $pixeloperator;
            padding: 0 0.5rem;

            display: flex;
            align-items: center;

            i {
                margin-right: 0.25rem;
            }
        }

        i.fa-angle-right {
            color: rgba($light, 0.55);
        }
    }

    &-link {
        padding: 0 0.25rem;
        letter-spacing: 1px;
        font-family: $pixeloperator;

        a {
            color: $primary-100;
        }
    }
}

main {
    background-color: rgba($light, 0.85);
    border-radius: $border-radius;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.sidebar {
    display: flex;
    flex-direction: column;

    &-box {
        display: flex;
        flex-direction: column;
        @include boxStyling();

        &:nth-child(2) {
            margin-top: 1rem;
            flex-grow: 2;
        }

        &-container {
            padding: 0.35rem 0.35rem 0.45rem 0.35rem;

            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }

        &-inner {
            background-color: rgba($light, 0.75);
            border-radius: $border-radius;
            height: 100%;
        }

        &-header {
            background: $sidebar-header;
            background-color: $primary-200;
            border-radius: $border-radius $border-radius 0 0;
            height: 150px;
        }

        &-icon {
            margin-top: -125px;
            text-align: center;

            img {
                background-color: $primary-200;
                border: 5px solid $light;
                border-radius: 50%;
                box-sizing: content-box;
                max-height: 175px;
                max-width: 175px;
            }
        }
    }

    .toolbar-tab {
        font-size: 0.85rem;
        padding: 0.15rem 0.5rem;
    }
}

#mobileSidebar {
    background-color: rgba($dark, 0.65);

    button {
        background-color: $primary-300;
        border: 0;
        border-radius: $border-radius;
        color: $light;
    }
}

.todolist {
    background-color: $light;
    border-radius: $border-radius;
    padding: 0.25rem;
    margin-top: 0.5rem;

    &-header {
        color: $primary-100;
        font-family: $fipps;
        margin-top: -1rem;
    }

    &-content {
        font-size: 0.85rem;
        max-height: 75px;
        overflow-y: auto;

        ul {
            list-style-type: none;

            li {
                display: flex;
                align-items: center;
            }

            li::before {
                content: "\f219";
                color: $primary-100;
                display: inline-block;
                font-family: $fa-solid;
                font-size: 0.45rem;
                margin-left: -1rem;
                margin-right: 0.25rem;
            }
        }
    }
}

@media (max-width: 991px) {
    #app {
        position: relative;
    }

    .mobile-hidden {
        display: none!important;
    }
}

/* Front Page */

.front {
    padding: 0;

    &-header {
        border-radius: $border-radius $border-radius 0 0;
        min-height: 350px;

        &-content {
            background: linear-gradient(to bottom, transparent 65%, $dark 100%);
            height: 350px;
            padding: 0.25rem 1rem;
            width: 100%;

            display: flex;
            align-items: end;
            justify-content: space-between;
        }

        &-title {
            background: linear-gradient(to bottom, $primary-100 0%, $light 100%);
            background-clip: text;
            font-family: $novasquare;
            font-size: 3rem;
            text-transform: uppercase;

            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        a {
            color: $light;
            opacity: 0.25;
            transition: opacity 150ms linear;

            &:hover {
                opacity: 0.55;
            }
        }
    }

    &-chat {
        background-color: lighten($light, 5%);
        border-radius: $border-radius;
    }
}

/* Resources */

.resource {
    border-bottom: 1px dotted $primary-100;
    transition: background-color 150ms linear;

    &:last-child {
        border-bottom: 0;
    }

    &:hover {
        background-color: $light;
    }

    &-box {
        background-color: rgba($primary-100, 0.1);
        border-radius: $border-radius;
        padding: 1rem;
        margin: 1rem;
    }

    &-header {
        color: $primary-200;
        font-family: $fipps;
        margin-bottom: 0.5rem;
        margin-top: -1.5rem;

        display: flex;
        align-items: center;

        i {
            margin-right: 0.25rem;
        }
    }

    &-title {
        font-family: $novasquare;
        font-size: 1.1em;

        display: flex;
        align-items: center;

        &::before {
            //chevron right
            content: "\f324";
            color: $primary-200;
            font-family: $fa-solid;
            font-size: 0.65em;
            margin-right: 0.25rem;
        }
    }

    &-content {
        color: $primary-200;
        padding-left: 1.5rem;
        font-family: $pixeloperator;

        &::before {
            //arrow turn down right
            content: "\e3d6";
            color: $primary-100;
            font-family: $fa-solid;
            opacity: 0.55;
        }
    }
}

#resourceNav {
    background-color: $light;
    border-radius: $border-radius;
    box-shadow: 0 0 0 1px rgba($primary-100, 0.15), 0 3px 1rem 0 rgba($primary-100, 0.25);
    position: sticky;
    top: 0.5rem;

    .nav-link {
        border-radius: 0;
        color: $primary-100;
        font-family: $novasquare;
        width: 100%;

        &:hover {
            background-color: $primary-100;
            color: $light;
        }
    }
}